.format-btn:hover,.downloadFile_btn:hover {
    -fx-background-color: LIGHTGREY;
}


.format-btn {
    -fx-background-color: WHITE;
    -fx-cursor: hand;
}

.home-btn:hover{
    -fx-border-radius: 50.0px;
}

.message_of_sender{
	-fx-background-color: #36c9ff;
	-fx-background-radius: 15.0px;	
}
.message_of_respondent{
	-fx-background-color: #cfcfcf;
	-fx-background-radius: 15.0px;
}
.downloadFile_btn, .have_an_account_btn {
	-fx-background-color: transparent;
	-fx-cursor: hand;
}

.customize_btn{
	-fx-background-color: #0095f6;
	-fx-font-family: Arial Rounded MT Bold;
	-fx-text-fill: WHITE;
	-fx-background-radius: 30px;
}
.customize_btn:hover{
	    -fx-cursor: hand;
}

